@import url(https://db.onlinewebfonts.com/c/ae238c3ee498c52a23aab0d9f5e94d6b?family=dana-fanum+regular);
* {
  margin: 0;
  font-family: "dana-fanum regular";
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1e3a8a;
  --second-bg-color: #e1b373;
  --text-color: #fff;
  --main-color: #ffd700;
  --danger: #ef4d61;
  --warning: #ffc12e;
  --success: #2ecc71;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: rgb(26, 26, 26);
  background: linear-gradient(
    98deg,
    rgba(26, 26, 26, 1) 0%,
    rgb(22, 1, 93) 100%
  );
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 11%;
  padding: 3rem;
  display: flex;
  background: rgba(255, 255, 255, 0.052);
  border: 3px solid rgba(255, 255, 255, 0.171);
  box-shadow: 0 0 10px rgba(215, 214, 214, 0.022);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3.8rem;
  color: #1e3a8a;
  font-weight: 600;
  text-decoration: none;
}

.logo span {
  color: var(--second-bg-color);
}

.navbar {
  margin-left: 8rem;
}

.navbar a {
  font-size: 3rem;
  color: var(--text-color);
  margin-right: 7rem;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--second-bg-color);
}

#login {
  cursor: pointer;
  position: relative;
  padding: 8px 18px;
  font-size: 16px;
  color: var(--text-color);
  border: 2px solid var(--bg-color);
  border-radius: 34px;
  background-color: var(--bg-color);
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  text-decoration: none;
}

#login a {
  text-decoration: none;
  color: var(--text-color);
}

#login::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--second-bg-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#login:hover::before {
  scale: 3;
}

#login:hover {
  color: #212121;
  scale: 1.1;
  border: 2px solid var(--second-bg-color);
  box-shadow: 0 0px 20px var(--second-bg-color);
}

#login:active {
  scale: 1;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

#login-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.forgot-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.form {
  justify-content: center;
  align-items: center;
  width: 490px;
  /* height: 710px; */
  background: rgba(26, 26, 26, 0.345);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
}

.form h1 {
  font-size: 36px;
  text-align: center;
}

.form .index-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.index-box input {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #fff;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

.index-box input::placeholder {
  color: #85888c;
}

#box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

#box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #fff;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

#box h2 {
  margin-top: 0.5rem;
  margin-right: 1rem;
  color: #85888c;
  display: none;
}

#toggle {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 17px;
  color: #85888c;
}

#toggle:hover {
  color: #fff;
}

#toggle-confirm {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #85888c;
}

#toggle-confirm:hover {
  color: #fff;
}

.indicator {
  display: none;
  margin-top: 10px;
}

.indicator span.active.weak {
  background: var(--danger);
}

.indicator span.active.medium {
  background: var(--warning);
}

.indicator span.active.strong {
  background: var(--success);
}

.text {
  font-size: 12px;
  margin-top: 5px;
  color: #fff;
  text-align: right;
}

.password-policies {
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: none;
  z-index: 100;
}

.password-policies > div {
  margin: 8px 0;
  font-size: 14px;
  color: #85888c;
  display: flex;
  align-items: center;
}

.password-policies > div ::before {
  content: "✖";
  color: var(--danger);
  margin-left: 8px;
}

.password-policies > div .valid {
  color: var(--success);
}

.password-policies > div .valid::before {
  content: "✓";
  color: var(--success);
}

.password-policies > div .password-match {
  color: var(--danger);
  margin-top: 5px;
  font-size: 14px;
  display: none;
}

.password-policies > div .password-match.valid {
  color: var(--success);
  font-size: 14px;
  display: block;
}

.password-policies > div .password-match.invalid {
  color: var(--danger);
  font-size: 14px;
  display: block;
}

.form .btn {
  width: 100%;
  height: 48px;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: var(--text-color);
  border: 2px solid var(--bg-color);
  border-radius: 34px;
  background-color: var(--bg-color);
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  text-decoration: none;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 45px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--second-bg-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover::before {
  scale: 3;
}

.btn:hover {
  color: #212121;
  scale: 1.1;
  border: 2px solid var(--second-bg-color);
  box-shadow: 0 0px 20px var(--second-bg-color);
}

.btn:active {
  scale: 1;
}

.form .back-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.back-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.back-link p a:hover {
  text-decoration: underline;
}

.text {
  font-size: 15px;
  margin-top: 5px;
  color: #fff;
  text-align: center;
}

@media (max-width: 1948px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1800px) {
  html {
    font-size: 53%;
  }

  .header {
    width: 76%;
  }

  .navbar a {
    font-size: 2.6rem;
    margin-right: 5rem;
  }
}

@media (max-width: 1600px) {
  .header {
    position: absolute;
    top: 4rem;
    width: 98%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }

  #menu-icon {
    display: block;
  }

  .header {
    position: fixed;
    top: 13px;
    padding: 2rem 3%;
    background: rgba(26, 26, 26, 0.345);
    backdrop-filter: blur(20px);
  }

  #menu-icon {
    display: block;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
  }

  .navbar {
    position: fixed;
    top: -16px;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: rgba(26, 26, 26, 0.808);
    transition: 0.5s ease;
    z-index: 999;
  }

  .navbar.active {
    right: -4%;
  }

  .navbar a {
    display: block;
    font-size: 1.8rem;
    margin: 1.5rem 0;
    padding: 1rem 3rem;
    text-align: right;
    color: var(--text-color);
  }

  .navbar a:hover {
    color: var(--second-bg-color);
  }

  .menu-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #login-icon {
    display: block;
    position: relative;
    top: 0.5rem;
  }

  .home {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #login {
    display: none;
  }

  /* .navbar a {
    display: block;
    font-size: 2.5rem;
    margin: 2rem 0;
  } */

  #login-icon {
    display: block;
  }

  .home {
    flex-direction: column;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .logo {
    text-align: center;
  }
}

/* .password-match {
  margin-top: 5px;
  font-size: 14px;
  display: none;
  text-align: right;
} */
