@import url(https://db.onlinewebfonts.com/c/ae238c3ee498c52a23aab0d9f5e94d6b?family=dana-fanum+regular);
* {
  margin: 0;
  font-family: "dana-fanum regular";
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1e3a8a;
  --second-bg-color: #e1b373;
  --text-color: #fff;
  --main-color: #ffd700;
  --danger: #ef4d61;
  --warning: #ffc12e;
  --success: #2ecc71;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: rgb(26, 26, 26);
  background: linear-gradient(
    98deg,
    rgba(26, 26, 26, 1) 0%,
    rgb(22, 1, 93) 100%
  );
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 11%;
  padding: 3rem;
  display: flex;
  background: rgba(255, 255, 255, 0.052);
  border: 3px solid rgba(255, 255, 255, 0.171);
  box-shadow: 0 0 10px rgba(215, 214, 214, 0.022);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3.8rem;
  color: #1e3a8a;
  font-weight: 600;
  text-decoration: none;
}

.logo span {
  color: var(--second-bg-color);
}

.navbar {
  margin-left: 8rem;
}

.navbar a {
  font-size: 3rem;
  color: var(--text-color);
  margin-right: 7rem;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--second-bg-color);
}

#login {
  cursor: pointer;
  position: relative;
  padding: 8px 18px;
  font-size: 16px;
  color: var(--text-color);
  border: 2px solid var(--bg-color);
  border-radius: 34px;
  background-color: var(--bg-color);
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  text-decoration: none;
}

#login a {
  text-decoration: none;
  color: var(--text-color);
}

#login::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--second-bg-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#login:hover::before {
  scale: 3;
}

#login:hover {
  color: #212121;
  scale: 1.1;
  border: 2px solid var(--second-bg-color);
  box-shadow: 0 0px 20px var(--second-bg-color);
}

#login:active {
  scale: 1;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

#login-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.singup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 275px;
  z-index: 1000;
}

.wrapper {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.main {
  margin: 12px 16px 12px 56px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main::before {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}

.success-icon::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #47cf73;
}

.info-icon::before {
  content: "\f05a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #2f83ff;
}

.warning-icon::before {
  content: "\f071";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffc107;
}

.error-icon::before {
  content: "\f06a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #dc3545;
}

.success {
  background-color: rgba(20, 20, 20, 0.85);
  color: #fff;
  padding: 10px;
  border-left: 4px solid #47cf73;
}

.info {
  background-color: rgba(20, 20, 20, 0.85);
  color: #fff;
  padding: 10px;
  border-left: 4px solid #2f83ff;
}

.warning {
  background-color: rgba(20, 20, 20, 0.85);
  color: #fff;
  padding: 10px;
  border-left: 4px solid #ffc107;
}

.error {
  background-color: rgba(20, 20, 20, 0.85);
  color: #fff;
  padding: 10px;
  border-left: 4px solid #dc3545;
}

.form {
  justify-content: center;
  align-items: center;
  width: 415px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 11px 40px;
  margin-top: 8rem;
  background: rgba(26, 26, 26, 0.345);
}

.form h1 {
  font-size: 30px;
  text-align: center;
}

.form .index-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.phone-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.country-code {
  position: absolute;
  left: 10px;
  color: #666;
  font-size: 14px;
  z-index: 1;
}

#phone {
  padding-left: 40px;
}

#phone::placeholder {
  text-align: right;
  direction: rtl;
}

.index-box input {
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 92%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #fff;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

.index-box input::placeholder {
  color: #85888c;
}

.index-box i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.form .terms-container {
  font-size: 13.5px;
  margin: -20px 17px 22px;
}

.remember label input {
  accent-color: #fff;
  text-decoration: none;
}

.remember a {
  text-decoration: none;
}

.remember a:hover {
  text-decoration: underline;
}

.form .btn {
  width: 80%;
  height: 43px;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: var(--text-color);
  border: 2px solid var(--bg-color);
  border-radius: 34px;
  background-color: var(--bg-color);
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  text-decoration: none;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 45px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--second-bg-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover::before {
  scale: 3;
}

.btn:hover {
  color: #212121;
  scale: 1.1;
  border: 2px solid var(--second-bg-color);
  box-shadow: 0 0px 20px var(--second-bg-color);
}

.btn:active {
  scale: 1;
}

.form .regester-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.regester-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.regester-link p a:hover {
  text-decoration: underline;
}
#box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

#box input {
  width: 99%;
  height: 92%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #fff;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

#box h2 {
  margin-top: 0.5rem;
  margin-right: 1rem;
  color: #85888c;
  display: none;
}

#toggle {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #85888c;
}

#toggle:hover {
  color: #fff;
}

#toggle-confirm {
  position: absolute;
  top: 50%;
  /* left: 20px; */
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #85888c;
}

#toggle-confirm:hover {
  color: #fff;
}

.indicator {
  display: none;
  margin-top: 10px;
}

.indicator span {
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 0 2px;
}

.indicator span.active.weak {
  background: var(--danger);
}

.indicator span.active.medium {
  background: var(--warning);
}

.indicator span.active.strong {
  background: var(--success);
}

.text {
  font-size: 12px;
  margin-top: 5px;
  color: #fff;
  text-align: right;
}

.password-policies {
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: none;
  z-index: 100;
}

.password-policies > div {
  margin: 8px 0;
  font-size: 14px;
  color: #85888c;
  display: flex;
  align-items: center;
}

.password-policies > div::before {
  content: "✖";
  color: var(--danger);
  margin-left: 8px;
}

.password-policies > div.valid {
  color: var(--success);
}

.password-policies > div.valid::before {
  content: "✓";
  color: var(--success);
}

.password-policies > div.password-match {
  color: var(--danger);
  margin-top: 5px;
  font-size: 14px;
  display: none;
}

.password-policies > div.password-match.valid {
  color: var(--success);
  font-size: 14px;
  display: block;
}

.password-policies > div.password-match.invalid {
  color: var(--danger);
  font-size: 14px;
  display: block;
}

.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  --checkbox-diameter: 15px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  left: 3px;
  top: 3px;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
.remember a {
  color: var(--main-color);
  text-decoration: none;
}

.remember a:hover {
  text-decoration: underline;
}

/* Terms Modal Styles */

.terms-link {
  color: #1e3a8a;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.terms-link:hover {
  color: #ffd700;
}

/* Modal Styles */
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.terms-modal {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: 5% auto;
  background: rgba(0, 0, 0, 0.719);
  border-radius: 10px;
  overflow-y: auto;
  max-height: 90vh;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  animation: fadeIn 0.3s ease-out;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.terms-modal::-webkit-scrollbar {
  display: none;
}

.modal-content {
  padding: 20px;
  padding-top: 40px;
}

.modal-title {
  margin-top: 1rem;
  font-size: 3rem;
  color: var(--second-bg-color);
  font-weight: 600;
}

.modal-content p,
.modal-content ul {
  font-size: 1.3rem;
  color: var(--text-color);
  line-height: 1.6;
  margin-top: 1rem;
}

.modal-content ul {
  list-style: none;
  padding-left: 20px;
}

.modal-close-btn {
  position: fixed;
  padding: 5px 15px;
  font-size: 4.2rem;
  color: #666;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 2001;
}

.form .regester-link {
  font-size: 13.5px;
  text-align: center;
  margin-top: 5px;
}

.regester-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.regester-link p a:hover {
  text-decoration: underline;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1948px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1800px) {
  html {
    font-size: 53%;
  }

  .header {
    width: 76%;
  }

  .navbar a {
    font-size: 2.6rem;
    margin-right: 5rem;
  }
}

@media (max-width: 1600px) {
  .header {
    position: absolute;
    top: 4rem;
    width: 98%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 10rem 3%;
  }

  .header {
    position: fixed;
    top: 13px;
    padding: 2rem 3%;
    background: rgba(26, 26, 26, 0.345);
    backdrop-filter: blur(20px);
  }

  #menu-icon {
    display: block;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
  }

  .navbar {
    position: fixed;
    top: -26px;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: rgba(26, 26, 26, 0.808);
    transition: 0.5s ease;
    z-index: 999;
  }

  .navbar.active {
    right: -4%;
  }

  .navbar a {
    display: block;
    font-size: 1.8rem;
    margin: 1.5rem 0;
    padding: 1rem 3rem;
    text-align: right;
    color: var(--text-color);
  }

  .navbar a:hover {
    color: var(--second-bg-color);
  }

  .menu-links {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  #login {
    display: none;
  }

  #login-icon {
    display: block;
    position: relative;
    top: 0.5rem;
  }

  .home {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #login {
    display: none;
  }

  .navbar a {
    display: block;
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  #login-icon {
    display: block;
  }

  .home {
    flex-direction: column;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .logo {
    text-align: center;
  }

  .terms-modal {
    width: 95%;
    margin: 2% auto;
  }

  .modal-content {
    padding: 15px;
    padding-top: 35px;
  }

  .modal-title {
    font-size: 2.5rem;
  }

  .modal-content p,
  .modal-content ul {
    font-size: 2.2rem;
  }

  .modal-close-btn {
    font-size: 3.5rem;
    padding: 3px 12px;
  }
}

@media (max-width: 480px) {
  .terms-modal {
    width: 98%;
    margin: 1% auto;
  }

  .modal-content {
    padding: 10px;
    padding-top: 30px;
  }

  .modal-title {
    font-size: 2rem;
  }

  .modal-content p,
  .modal-content ul {
    font-size: 2.1rem;
  }

  .modal-close-btn {
    font-size: 4rem;
    padding: 2px 10px;
  }
}
